<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>price-tracker-vue</title>

    <!--App loading styles.
    They need to be here so that it immediately appears even before the bundle css has finished loading-->
    <style>
      #app-loading-overlay {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #2977cc;
        color: white;
        transition: opacity 1s;
        z-index: 10000;
      }
      #app-loading-overlay.ready {
        opacity: 0;
        pointer-events: none;
      }
      #app-loading-overlay .app-loading-text {
        margin: 0;
        font-family: 'Helvetica';
        font-weight: 600;
        line-height: 1.2;
        font-size: 40px;
        text-align: center;
      }
      #app-loading-overlay .spinner > div {
        background-color: white;
      }

      .spinner {
        margin: 20px auto;
        height: 40px;
        text-align: center;
        font-size: 10px;
      }
      .spinner > div {
        background-color: #333;
        width: 6px;
        height: 100%;
        margin: 0 2px;
        display: inline-block;

        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
      }
      .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
      }
      .spinner .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
      }
      .spinner .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
      }
      .spinner .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
      }

      @-webkit-keyframes sk-stretchdelay {
        0%, 40%, 100% {
          -webkit-transform: scaleY(0.4)
        }
        20% {
          -webkit-transform: scaleY(1.0)
        }
      }

      @keyframes sk-stretchdelay {
        0%, 40%, 100% {
          transform: scaleY(0.4);
          -webkit-transform: scaleY(0.4);
        }
        20% {
          transform: scaleY(1.0);
          -webkit-transform: scaleY(1.0);
        }
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but price-tracker-vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <div id="app"></div>

    <div id="app-loading-overlay">
      <h1 class="app-loading-text">
        Loading Price Tracker...
      </h1>

      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>

    <!-- built files will be auto injected -->
  </body>
</html>
