<template>
  <div class="c-lists-overview">
    <div class="container">

      <div class="card mb-3" v-for="list in lists" :key="list.id">
        <div class="card-body">
          <h5 class="card-title">
            {{ list.name}}
          </h5>

          <ul class="list-group mb-3">
            <li class="list-group-item" v-for="item in list.tracked_products" :key="item.id">
              <div class="d-flex">
                <p class="flex-fill">
                  {{ item.name }}
                </p>
                <p>
                  {{ `${item.price} €`}}
                </p>
              </div>

            </li>
          </ul>

          <div class="d-flex justify-content-end">
            <p>
              <b>Total:</b>
              {{ `${getListTotal(list)} €` }}
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  export default {
    name: 'ListsOverview',
    computed: {
      ...mapState('lists', [
        'loading',
        'lists'
      ])
    },
    created () {
      this.loadLists();
    },
    methods: {
      ...mapActions('lists', [
        'loadLists',
        'deleteLists'
      ]),

      getListTotal (list) {
        return list.tracked_products.reduce((accumulator, currentValue) => {
          return currentValue.price + accumulator;
        }, 0).toFixed(2);
      }
    }
  };
</script>
