<template>
  <div class="c-search p-4">
    <div class="container">

      <loading-spinner message="Loading..." v-if="loading"/>

      <!-- Details -->
      <div class="row" v-show="!loading">
        <div class="col-md-4">
          <img :src="details.imageUrl" alt="..."/>
        </div>
        <div class="col-md-8">
          <h3>{{ details.name }}</h3>
          <p>{{ details.category }}</p>
          <p>{{ `${details.price} €` }}</p>
          <p>{{ details.quantityDescription }}</p>
          <p>{{ details.pricePerUnitDescription }}</p>

          <canvas id="product-history-chart" width="400" height="120"></canvas>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  import moment from 'moment';
  import { Chart } from 'chart.js';

  // Resources
  import productsResource from '../resources/products.resource';

  // Services
  import dictionary from '../services/dictionary.service';

  // Components
  import LoadingSpinner from '../components/loading-spinner.component';

  export default {
    name: 'DetailsView',
    components: {
      LoadingSpinner
    },
    data () {
      return {
        filterName: '',
        filterVendor: '',

        loading: true,

        details: {}
      };
    },
    created () {
      this.loading = true;

      productsResource.getProductDetails(this.$route.params.productId)
        .then(result => {
          this.details = result;
          this.initializeChart();
        })
        .finally(() => {
          this.loading = false;
        });
    },
    methods: {
      initializeChart () {
        let context = document
          .getElementById('product-history-chart')
          .getContext('2d');

        let labels = this.details.priceHistory.map(entry => moment(entry.priceDate, 'X').format('DD/MM/YYYY'));
        let prices = this.details.priceHistory.map(entry => entry.price);

        // check see if we need to add a data point for today, so the graph goes up until today even if last change was days ago
        const lastChangeDateSeconds = this.details.priceHistory[this.details.priceHistory.length - 1].priceDate;
        const lastChangeDate = moment(lastChangeDateSeconds, 'X').format('DD/MM/YYYY');
        const todaysDate = moment().format('DD/MM/YYYY');
        const wasUpdatedToday = lastChangeDate === todaysDate;
        if (!wasUpdatedToday) {
          labels.push(moment().format('DD/MM/YYYY'));
          prices.push(prices[prices.length - 1]);
        }

        const chart = new Chart(context, {
          type: 'line',
          data: {
            labels: labels,
            datasets: [
              {
                label: dictionary.translate('Price') + ' ' + this.details.retailer,
                backgroundColor: 'rgba(0, 152, 95, 0.4)',
                borderColor: 'rgb(0, 152, 95)',
                data: prices,
                steppedLine: 'before'
              }
            ]
          },
          options: {
            label: 'Price History',
            scales: {
              xAxes: [{
                type: 'time',
                time: {
                  unit: 'month',
                  parser: 'DD/MM/YYYY',
                  tooltipFormat: 'DD/MM/YYYY'
                },
                maxTicksLimit: 12
              }]
            }
          }
        });
      }
    }
  };
</script>
