<template>
  <div class="c-search p-4">
    <div class="container">

      <!-- Filters -->
      <div class="c-search__filters-container">
        <div class="row">
          <div class="col-md-6 col-lg-8">
            <div class="form-group">
              <label class="invisible" for="productName">
                Name
              </label> <!-- Do not remove, its important for layout -->
              <input id="productName"
                     class="form-control"
                     :value="filterName"
                     :placeholder="dictionary.translate('searchView.NameFilterPlaceholder')"
                     @input="event => changeNameFilter({ name: event.target.value })"/>
            </div>
          </div>
          <div class="col-6 col-md-3 col-lg-2">
            <div class="form-group">
              <label for="productVendor">
                {{ dictionary.translate('searchView.RetailerFilterLabel') }}
              </label>
              <select id="productVendor"
                      class="form-control"
                      :value="filterVendor"
                      @input="event => changeRetailerFilter({ retailer: event.target.value })">
                <option value="">
                  {{ dictionary.translate('searchView.RetailerFilterAll') }}
                </option>
                <option v-for="retailer in Retailers.properties" :value="retailer.code" :key="retailer.id">
                  {{ retailer.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-6 col-md-3 col-lg-2">
            <div class="form-group d-flex flex-column">
              <label for="productVendor">
                {{ dictionary.translate('searchView.SortFilterLabel') }}
              </label>
              <div class="btn-group c-search__sort-dropdown">
                <button
                  class="btn btn-secondary c-search__sort-dropdown-button" type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                  {{ ProductsSortOptions.properties.find(option => filterSort === option.code).name }}
                </button>
                <button
                  class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                  type="button"
                  @click="changeSortOrder({ sortOrder: filterSortOrder === 'desc' ? 'asc' : 'desc'})">
                  <i
                    :class="`fa ${filterSortOrder === 'desc' ? 'fa-sort-amount-desc' : 'fa-sort-amount-asc'}`"/>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">

                  <a v-for="option in ProductsSortOptions.properties"
                     :class="`dropdown-item ${filterSort === option.code ? ' active' : ''}`"
                     tabIndex="0"
                     @click="changeSort({ sort: option.code })"
                     :key="option.id">
                    {{ option.name }}
                  </a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Products -->
      <div v-if="!loadingProducts">
        <div class="d-flex flex-column flex-md-row align-items-center mb-4">
          <p class="flex-fill m-0" v-if="totalProducts > 0">
            {{ resultsDescription }}
          </p>

          <Pagination
            :currentPage="currentPage"
            :totalPages="totalPages"
            :onPageChanged="(value) => changeCurrentPage({ currentPage: value })"/>
        </div>

        <div class="row justify-content-center justify-content-sm-start">
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4" v-for="(product, index) in products" :key="index">
            <product-card
              :product="product"
              :selected="selectedProductIds.indexOf(product.id) !== -1"
              :on-click="() => handleProductClick(product.id)"
              :on-select="() => toggleProductSelection(product.id)"/>
          </div>
        </div>

        <pagination
          :current-page="currentPage"
          :total-pages="totalPages"
          :on-page-changed="(value)=> changeCurrentPage({ currentPage: value })"/>
      </div>

      <loading-spinner
        :message="dictionary.translate('searchView.Loading')"
        v-if="loadingProducts"/>

    </div>

    <add-tracked-product-modal
      :show="this.showAddTrackedProduct"
      :product-ids="this.selectedProductIds"
      :on-close="() => toggleAddTrackedProductModal(false)"/>
  </div>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';

  // Configs
  import { Retailers, ProductsSortOptions } from '../configs/enums.config';

  // Services
  import dictionary from '../services/dictionary.service';

  // Components
  import LoadingSpinner from '../components/loading-spinner.component';
  import Pagination from '../components/pagination.component';
  import ProductCard from '../components/product-card.component';
  import AddTrackedProductModal from '../components/add-tracked-product.modal.component';

  export default {
    name: 'SearchView',
    components: {
      LoadingSpinner,
      Pagination,
      ProductCard,
      AddTrackedProductModal
    },
    data () {
      return {
        dictionary,
        Retailers,
        ProductsSortOptions,

        selectedProductIds: [],

        showAddTrackedProduct: false
      };
    },
    computed: {
      ...mapState('search', [
        'filterName',
        'filterVendor',
        'filterSort',
        'filterSortOrder',

        'loadingProducts',

        'products',
        'totalProducts',
        'pageSize',
        'currentPage',
        'totalPages'
      ]),
      ...mapGetters('auth', [
        'isAuthenticated'
      ]),

      isSelectionMode () {
        return this.selectedProductIds.length > 0;
      },

      resultsDescription () {
        let firstProductIndex = 1 + (this.currentPage - 1) * this.pageSize;
        let lastProductIndex = firstProductIndex + this.pageSize - 1;

        if (lastProductIndex > this.totalProducts) lastProductIndex = this.totalProducts;

        return dictionary.translate('searchView.NumberOfResultsDescription')
          .replace('{{start}}', firstProductIndex)
          .replace('{{finish}}', lastProductIndex)
          .replace('{{total}}', this.totalProducts);
      }
    },
    methods: {
      ...mapActions('search', [
        'changeNameFilter',
        'changeRetailerFilter',
        'changeSort',
        'changeSortOrder',
        'changeCurrentPage'
      ]),

      toggleAddTrackedProductModal (show, productId) {
        this.showAddTrackedProduct = typeof show === 'boolean' ? show : !this.showAddTrackedProduct;

        if (this.showAddTrackedProduct) {
          this.selectedProductId = productId;
        }
      },

      toggleProductSelection (productId) {
        const productIndex = this.selectedProductIds.indexOf(productId);

        if (productIndex !== -1) {
          this.selectedProductIds.splice(productIndex, 1);
        }
        else {
          this.selectedProductIds.push(productId);
        }
      },

      handleProductClick (productId) {
        if (this.isSelectionMode) {
          this.toggleProductSelection(productId);
        }
        else {
          this.$router.push({ name: 'productDetails', params: { productId } });
        }
      }
    }
  };
</script>

<style lang="scss">
  $filtersGutterWidth: 10px;

  .c-search {

    .c-search__filters-container {
      @extend .mb-5;
    }

    .c-search__sort-dropdown-button {
      white-space: nowrap;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      flex: 100;
    }

    .c-search__sort-dropdown .dropdown-toggle::after {
      content: none;
    }
  }

</style>
