<template>
  <div class="c-add-tracked-product-modal">
    <modal-container
      :title="dictionary.translate('addTrackedProductModal.Title')"
      :show="this.show"
      :on-confirm="() => handleConfirm()"
      :on-close="() => onClose()">
      <template slot="header">
        <div v-if="loading"></div>
      </template>
      <template slot="content">
        <div v-if="!loading">
          <p class="font-weight-bold">
            {{ dictionary.translate('addTrackedProductModal.ExistingListLabel') }}
          </p>
          <div class="list-group mb-4">
            <button
              v-for="list in lists"
              :class="`list-group-item list-group-item-action ${selectedListId === list.id ? ' active' : ''}`"
              @click="handleSelectedListChanged(list.id)"
              :key="list.id">
              <div class="d-flex align-items-center">
                <span class="flex-fill">
                  {{ list.name }}
                </span>
                <i class="fa fa-check float-right" v-show="selectedListId === list.id"/>
              </div>
            </button>
            <p v-show="lists.length === 0">
              No lists to show
            </p>
          </div>
          <p class="font-weight-bold">
            {{dictionary.translate('addTrackedProductModal.NewListLabel') }}
          </p>
          <div class="form-group">
            <input
              id="list-name"
              class="form-control"
              type="text"
              :placeholder="dictionary.translate('addTrackedProductModal.NewListNamePlaceholder')"
              :value="newListName"
              @input="event => this.handleNewListNameChanged(event.target.value)"/>
          </div>
        </div>

        <loading-spinner :message="dictionary.translate('addTrackedProductModal.LoadingMessage')" v-else/>
      </template>
      <template slot="footer">
        <div v-if="loading"></div>
      </template>
    </modal-container>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  // Services
  import dictionary from '../services/dictionary.service';
  import logger from '../services/logger.service';

  // Components
  import ModalContainer from '../components/modal-container.component';
  import LoadingSpinner from '../components/loading-spinner.component';

  export default {
    name: 'AddTrackedProduct',
    components: {
      ModalContainer,
      LoadingSpinner
    },
    props: {
      show: {
        type: Boolean,
        default: false
      },
      productIds: {
        type: Array,
        default () {
          return [];
        }
      },
      onClose: {
        type: Function,
        default: () => {}
      }
    },
    data () {
      return {
        dictionary,

        selectedListId: null,
        newListName: ''
      };
    },
    computed: {
      ...mapState('lists', [
        'loading',
        'lists'
      ])
    },
    watch: {
      show (show) {
        if (show) {
          this.selectedListId = null;
          this.newListName = '';
        }
      }
    },
    methods: {
      ...mapActions('lists', [
        'addItemToList',
        'addItemToNewList'
      ]),

      handleSelectedListChanged (value) {
        this.selectedListId = value;
        this.newListName = '';
      },
      handleNewListNameChanged (value) {
        this.selectedListId = null;
        this.newListName = value;
      },

      handleConfirm () {
        // Check if user entered valid data
        if (this.selectedListId === null && this.newListName.trim() === '') {
          logger.logWarning(dictionary.translate('addTrackedProductModal.NoListSelectedWarning'), this.state, true);
          return;
        }

        if (this.selectedListId !== null) {
          this.addItemToList({
            listId: this.selectedListId,
            productId: this.productId
          });
        }
        else {
          this.addItemToNewList({
            listName: this.newListName,
            productId: this.productId
          });
        }
      }
    }
  };
</script>
