<template>
    <div class="c-checkbox">
      <label :for="id">
        <input class="c-checkbox__input d-none" type="checkbox" :disabled="disabled" :checked="value" @change="$emit('input', $event.target.value)">
        <div class="c-checkbox__box">
          <i class="fa fa-check"/>
        </div>
      </label>
    </div>
</template>

<script>
  export default {
    name: 'Checkbox',
    props: {
      id: {
        type: String,
        required: true
      },
      value: {
        type: Boolean,
        default: false
      },
      disabled: {
        type: Boolean,
        default: false
      }
    }
  };
</script>

<style lang="scss">
  .c-checkbox {
    &__input:checked + .c-checkbox__box i {
      opacity: 1;
    }

    &__box {
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border: 1px solid grey;
      border-radius: 4px;
      cursor: pointer;

      i {
        opacity: 0;
        font-size: 20px;
      }
    }
  }
</style>
