<template>
  <div class="d-flex flex-column align-items-center justify-content-center my-4">
    <div class="spinner">
      <div class="rect1"/>
      <div class="rect2"/>
      <div class="rect3"/>
      <div class="rect4"/>
      <div class="rect5"/>
    </div>
    <strong>{{ message }}</strong>
  </div>
</template>

<script>
  export default {
    name: 'LoadingSpinner',
    props: {
      message: {
        type: String,
        default: ''
      }
    }
  };
</script>
