<template>
  <div class="c-login-modal">
    <modal-container
      title="Login"
      :show="show"
      :on-close="onClose">
      <template slot="header">
        <div class="modal-header" v-if="!loading">
          <ul class="nav nav-tabs flex-fill">
            <li class="nav-item">
              <a :class="`nav-link ${this.showSignInForm ? ' active' : ''}`" @click="setCurrentForm('signIn')" href="#">
                {{ dictionary.translate('loginModal.SignIn') }}
              </a>
            </li>
            <li class="nav-item">
              <a :class="`nav-link ${this.showRegisterForm ? ' active' : ''}`" @click="setCurrentForm('register')" href="#">
                {{ dictionary.translate('loginModal.Register') }}
              </a>
            </li>
          </ul>
          <button type="button" class="close" @click="onClose()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div v-else></div>
      </template>
      <template slot="content">
        <!-- Sign In Form-->
        <form id="login" method="post" v-if="!loading && showSignInForm">
          <div class="form-group">
            <label for="user-email">
              {{ dictionary.translate('loginModal.EmailLabel') }}
            </label>
            <input
              id="user-email"
              class="form-control"
              type="email"
              :placeholder="dictionary.translate('loginModal.EmailPlaceholder')"
              autoComplete="section-sign email"
              v-model="userEmail"/>
          </div>
          <div class="form-group">
            <label for="user-password">
              {{ dictionary.translate('loginModal.PasswordLabel') }}
            </label>
            <input
              id="user-password"
              class="form-control"
              type="password"
              :placeholder="dictionary.translate('loginModal.PasswordPlaceholder')"
              autoComplete="section-sign current-password"
              v-model="userPassword"/>
          </div>
        </form>

        <!-- Register Form -->
        <form id="register" method="post" v-if="!loading && showRegisterForm">
          <div class="form-group">
            <label for="user-name">
              {dictionary.translate('loginModal.NameLabel')}
            </label>
            <input
              id="user-name"
              class="form-control"
              type="text"
              :placeholder="dictionary.translate('loginModal.NamePlaceholder')"
              autoComplete="section-register name"
              v-model="userName"/>
          </div>
          <div class="form-group">
            <label for="user-email">
              {{ dictionary.translate('loginModal.EmailLabel') }}
            </label>
            <input
              id="user-email"
              class="form-control"
              type="email"
              :placeholder="dictionary.translate('loginModal.EmailPlaceholder')"
              autoComplete="section-sign email"
              v-model="userEmail"/>
          </div>
          <div class="form-group">
            <label for="user-password">
              {{ dictionary.translate('loginModal.PasswordLabel') }}
            </label>
            <input
              id="user-password"
              class="form-control"
              type="password"
              :placeholder="dictionary.translate('loginModal.PasswordPlaceholder')"
              autoComplete="section-sign current-password"
              v-model="userPassword"/>
          </div>
          <div class="form-group">
            <label for="user-confirm-password">
              {dictionary.translate('loginModal.ConfirmPasswordLabel')}
            </label>
            <input
              id="user-confirm-password"
              class="form-control"
              type="password"
              :placeholder="dictionary.translate('loginModal.ConfirmPasswordPlaceholder')"
              autoComplete="section-register new-password"
              v-model="userConfirmPassword"/>
          </div>
        </form>

        <LoadingSpinner :message="dictionary.translate('loginModal.Loading')" v-if="loading"/>
      </template>
      <template slot="footer">
        <div class="modal-footer" v-if="!loading">
          <button type="button" class="btn btn-primary" @click="handleConfirm()">
            {{ confirmationLabel }}
          </button>
          <button type="button" class="btn btn-secondary" @click="onClose()">
            {{ dictionary.translate('cancel') }}
          </button>
        </div>
        <div v-else></div>
      </template>
    </modal-container>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  // Services
  import dictionary from '../services/dictionary.service';
  import logger from '../services/logger.service';

  // Components
  import LoadingSpinner from '../components/loading-spinner.component';
  import ModalContainer from './modal-container.component';

  export default {
    name: 'LoginModal',
    components: {
      LoadingSpinner,
      ModalContainer
    },
    props: {
      show: {
        type: Boolean,
        default: false
      },
      onClose: {
        type: Function,
        default: () => {}
      }
    },
    data () {
      return {
        dictionary,

        showSignInForm: true,
        showRegisterForm: false,

        userName: '',
        userEmail: '',
        userPassword: '',
        userConfirmPassword: ''
      };
    },
    computed: {
      ...mapState('auth', [
        'loading',
        'currentUser'
      ]),

      confirmationLabel () {
        if (this.showSignInForm) {
          return dictionary.translate('loginModal.SignIn');
        }
        else {
          return dictionary.translate('loginModal.ConfirmRegistration');
        }
      }
    },
    watch: {
      show (show) {
        if (show) {
          this.userName = '';
          this.userEmail = '';
          this.userPassword = '';
          this.userConfirmPassword = '';
        }
      }
    },
    methods: {
      ...mapActions('auth', [
        'authenticateUser',
        'registerUser'
      ]),

      handleConfirm () {
        if (this.showSignInForm) {
          this.authenticateUser({
            email: this.userEmail,
            password: this.userPassword
          })
            .then(() => {
              this.onClose();
            });
        }
        else if (this.showRegisterForm) {
          if (this.userPassword !== this.userConfirmPassword) {
            logger.logWarning(dictionary.translate('loginModal.ConfirmPasswordDoesNotMatch'), this.userConfirmPassword, true);
            return;
          }

          this.registerUser({
            name: this.userName,
            email: this.userEmail,
            password: this.userPassword
          })
            .then(() => {
              this.onClose();
            });
        }
      },

      setCurrentForm (formType) {
        this.showSignInForm = formType === 'signIn';
        this.showRegisterForm = formType === 'register';
      }
    }
  };
</script>

<style lang="scss">

</style>
