<template>
  <div class="c-modal-container" :class="{show}" @mousedown="onClose">
    <div class="c-modal-container__window">
      <div class="c-modal-container__centered-container container">
        <div class="c-modal-container__content-container" @mousedown.stop="">

          <slot name="header">
            <div class="c-modal-container-header">
              <h5 class="c-modal-container-header__title">
                {{ title }}
              </h5>
              <button type="button" class="close" @click="onClose()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </slot>

          <div class="c-modal-container__content-inner-container p-3">
            <slot name="content"/>
          </div>

          <slot name="footer">
            <div class="c-modal-container-footer">
              <button type="button" class="btn btn-primary mr-3" @click="onConfirm()">
                {{ confirmLabel }}
              </button>
              <button type="button" class="btn btn-secondary" @click="onClose()">
                {{ cancelLabel }}
              </button>
            </div>
          </slot>
        </div>
      </div>
    </div>

    <div class="c-modal-container__backdrop"/>
  </div>
</template>

<script>
  import dictionary from '../services/dictionary.service';

  export default {
    props: {
      title: {
        type: String,
        default: ''
      },
      show: {
        type: Boolean,
        default: false
      },
      confirmLabel: {
        type: String,
        default: dictionary.translate('confirm')
      },
      cancelLabel: {
        type: String,
        default: dictionary.translate('cancel')
      },
      onConfirm: {
        type: Function,
        default: () => {}
      },
      onClose: {
        type: Function,
        default: () => {}
      }
    },
    watch: {
      show: function (visible) {
        if (visible) {
          document.body.classList.add('modal-open');
          this.$el.querySelector('.c-modal-container__content-container').scrollTop = 0;
        }
        else {
          document.body.classList.remove('modal-open');
        }
      }
    }
  };
</script>

<style lang="scss">
  body.modal-open {
    overflow: hidden;
  }

  .c-modal-container {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1050;

    &.show {
      pointer-events: all;

      .c-modal-container__window {
        top: 0;
      }

      .c-modal-container__backdrop {
        opacity: 1;
      }
    }

    &__window {
      position: absolute;
      top: 100vh;
      left: 0;
      right: 0;
      height: 100vh;
      transition: top 0.4s;
      display: flex;
      flex-direction: column;
      z-index: 102;
    }

    &__centered-container {
      margin: auto;
      width: initial !important;
      min-width: 500px;
    }

    &__content-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: auto;
      background-color: white;
      transition: margin 0.4s;

      @include media-breakpoint-up(lg) {
        position: relative;
        border-radius: 4px;
      }

      .c-modal-close-button {
        position: relative;
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: border-color 0.2s, color 0.2s;

        i {
          position: absolute;
          top: 3px;
          left: 6px;
        }
      }

      .c-modal-container__content-inner-container {
        min-width: 300px;
      }
    }

    &__backdrop {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background-color: rgba(#000, 0.5);
      transition: opacity 0.4s;
      z-index: 101;
    }
  }

  .c-modal-container-header {
    display: flex;
    align-items: center;
    padding: 1rem;

    &__title {
      margin: 0;
      flex: 1;
    }
  }

  .c-modal-container-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
  }
</style>
