<template>
  <div :class="`modal ${this.show ? ' show' : ''}`"  @click="onClose()" tabIndex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content" @click.stop="">
        <slot name="header">
          <div class="modal-header">
            <h5 class="modal-title">
              {{ title }}
            </h5>
            <button type="button" class="close" @click="onClose()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </slot>
        <div class="modal-body">
          <slot name="content"/>
        </div>
        <slot name="footer">
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="onConfirm()">
              {{ confirmLabel }}
            </button>
            <button type="button" class="btn btn-secondary" @click="onClose()">
              {{ cancelLabel }}
            </button>
          </div>
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
  // Services
  import dictionary from '../services/dictionary.service';

  export default {
    name: 'Modal',
    props: {
      show: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      },
      confirmLabel: {
        type: String,
        default: dictionary.translate('confirm')
      },
      cancelLabel: {
        type: String,
        default: dictionary.translate('cancel')
      },
      onConfirm: {
        type: Function,
        default: () => {}
      },
      onClose: {
        type: Function,
        default: () => {}
      }
    },
    watch: {
      show (show) {
        if (show) {
          document.body.classList.add('modal-open');
        }
        else {
          document.body.classList.remove('modal-open');
        }
      }
    }
  };
</script>
