<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <router-link class="navbar-brand" to="/">
          Price Tracker
        </router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"/>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown" v-if="currentUser !== null">
              <span class="mr-3">
                  Welcome, {{ currentUser.name }}
              </span>
              <button class="btn btn-primary my-2 my-sm-0" @click="() => logoutUser()">
                {{ dictionary.translate('loginModal.LogOut') }}
              </button>
            </li>

            <li class="nav-item" v-else>
              <button class="btn btn-primary my-2 my-sm-0" @click="toggleLoginForm(true)">
                {{ dictionary.translate('loginModal.SignIn') }}
              </button>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <LoginModal :show="showLoginForm"
                :onClose="() => toggleLoginForm(false)"/>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  // Services
  import dictionary from '../services/dictionary.service';

  // Components
  import LoginModal from './login.modal.component';

  export default {
    name: 'Navbar',
    components: {
      LoginModal
    },
    data () {
      return {
        dictionary,

        showLoginForm: false
      };
    },
    computed: {
      ...mapState('auth', [
        'currentUser'
      ])
    },
    methods: {
      ...mapActions('auth', [
        'logoutUser'
      ]),

      toggleLoginForm (show) {
        this.showLoginForm = typeof show === 'boolean' ? show : !this.state.showLoginForm;
      }
    }
  };
</script>
