<template>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

      <!-- Previous Page -->
      <li :class="`page-item  ${currentPage === 1 ? ' disabled' : ''}`"  @click="navigateToPreviousPage()">
        <a class="page-link" href="#" tabIndex="-1" aria-disabled="true">
          {{ dictionary.translate('pagination.PreviousPage') }}
        </a>
      </li>

      <!-- First Page -->
      <li class="page-item disabled" v-if="showFirstPageButton">
        <a class="page-link">
          ...
        </a>
      </li>

      <li
        v-for="pageNumber in currentSteps"
        :class="`page-item ${currentPage === pageNumber ? ' active' : ''}`"
        :key="pageNumber">
        <a class="page-link" @click="setCurrentPage(pageNumber)">
         {{ pageNumber }}
        </a>
      </li>

      <!-- Last Page -->
      <li class="page-item disabled" v-if="showLastPageButton">
        <a class="page-link">
          ...
        </a>
      </li>

      <!-- Next Page-->
      <li :class="`page-item ${currentPage === totalPages ? ' disabled' : ''}`"  @click="navigateToNextPage()">
        <a class="page-link" href="#">
          {{ dictionary.translate('pagination.NextPage') }}
        </a>
      </li>

    </ul>
  </nav>
</template>

<script>
  // Services
  import dictionary from '../services/dictionary.service';

  const MAX_ITEMS_SIZE = 5; // Should always be an odd number ex: 5, 7, 9.

  export default {
    name: 'Pagination',
    props: {
      currentPage: {
        type: Number,
        default: 0
      },
      totalPages: {
        type: Number,
        default: 1
      },
      onPageChanged: {
        type: Function,
        default: () => {}
      }
    },
    data () {
      return {
        dictionary
      };
    },
    computed: {
      currentSteps () {
        const steps = [];

        let smallestPage = this.currentPage - ((MAX_ITEMS_SIZE - 1) / 2);
        if (smallestPage <= 0) smallestPage = 1;

        let largestPage = smallestPage + MAX_ITEMS_SIZE - 1;
        if (largestPage > this.totalPages) largestPage = this.totalPages;

        for (let n = smallestPage; n <= largestPage; n++) {
          steps.push(n);
        }

        return steps;
      },

      showFirstPageButton () {
        return this.currentSteps[0] > 1;
      },

      showLastPageButton () {
        return this.currentSteps[this.currentSteps.length - 1] < this.totalPages;
      }
    },
    methods: {
      navigateToPreviousPage () {
        this.setCurrentPage(this.currentPage - 1);
      },

      navigateToNextPage () {
        this.setCurrentPage(this.currentPage + 1);
      },

      setCurrentPage (pageNumber) {
        if (pageNumber >= 1 && pageNumber <= this.totalPages) {
          this.onPageChanged(pageNumber);
        }
      }
    }
  };
</script>
