<template>
  <div class="c-product-card card" :class="{'c-product-card--selected': selected}">
    <div class="c-product-card__header card-header"  @click="onSelect()">
      {{ product.retailer }}
      <div class="c-product-card__checkbox" :class="{'c-product-card__checkbox--show': selected}">
        <checkbox :id="product.id" :value="selected"/>
      </div>
    </div>
    <div class="c-product-card__image" @click="onClick()">
      <img :src="product.imageUrl" class="card-img-top" alt="..."/>
    </div>
    <div class="c-product-card__body card-body">
      <p class="card-title">
        {{ product.name }}
      </p>
      <div class="c-product-card__bottom">
        <span class="c-product-card__quantity mb-0">
            {{ `${product.displayMeasurement} ${product.displayMeasurementUnit} | ${product.pricePerMeasurement}€/${product.measurementUnit}` }}
        </span>
        <span class="c-product-card__price">
          <span
            class="c-product-card__price-difference"
            :class="lastPriceChange > 0 ?
              'c-product-card__price-difference--red' :
              'c-product-card__price-difference--green'"
            v-if="lastPriceChange !== 0">
                <i class="fa fa-arrow-up" v-if="lastPriceChange > 0"/>
                <i class="fa fa-arrow-down" v-if="lastPriceChange < 0"/>
              {{ (lastPriceChange > 0 ? ' +' : ' ') + lastPriceChange + ' €' }}
          </span>
          <strong>{{ product.price + ' €' }}</strong>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
  import Checkbox from './checkbox.component';
  export default {
    name: 'ProductCard',
    components: {
      Checkbox
    },
    props: {
      product: {
        type: Object,
        required: true
      },
      selected: {
        type: Boolean,
        default: false
      },
      onClick: {
        type: Function,
        default: () => {}
      },
      onSelect: {
        type: Function,
        default: () => {}
      }
    },
    computed: {
      lastPriceChange () {
        return this.product.priceHistory[this.product.priceHistory.length - 1].priceDifference;
      }
    }
  };
</script>

<style lang="scss">
  .c-product-card {
    height: 100%;
    cursor: pointer;
    transition: border 0.2s, box-shadow 0.2s;

    &--selected {
      border-color: $primary !important;
      box-shadow: 0 0 4px 4px $primary;

      .c-product-card__header {
        color: $white !important;
        background-color: $primary !important;
      }
    }

    &:hover .c-product-card__checkbox {
      opacity: 1;
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: color 0.2s, background-color 0.2s;
    }

    &__checkbox {
      opacity: 0;
      transition: opacity 0.2s;

      &--show {
        opacity: 1;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    &__image {
      display: flex;
      flex-direction: column;
      padding: 1.25rem 1.25rem 0;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
    }

    &__quantity {
      font-size: 12px;
      opacity: 0.4;
      margin-left: 0;
      margin-right: auto;
    }

    &__price {
      display: flex;
      flex-direction: column;
      text-align: right;
      font-size: 22px;
    }

    &__price-difference {
      min-height: 18px;
      margin: 0;
      font-size: 12px;

      &--red {
        color: #ff1717;
      }
      &--green {
        color: #03c303;
      }
    }

    @include media-breakpoint-down(sm) {
      .c-product-card__card {
        max-width: 300px;
      }
    }
  }
</style>
