<template>
  <div class="container pt-4" v-if="show">
    <div class="alert alert-warning" role="alert">
      <button class="close-button" @click="toggleAlertVisibility(false)">
        <i class="fa fa-times"/>
      </button>
      <ul>
        <li v-for="(message,index) in alertMessages" :key="index">
          {{ message }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'TopAlert',
    data () {
      return {
        show: true,
        alertMessages: [
          'Este produto ainda está em fase de testes. ' +
            'O número de produtos apresentados será ' +
            'limitado. Pedimos a vossa compreensão.'
        ]
      };
    },
    methods: {
      toggleAlertVisibility (show) {
        this.show = typeof show === 'boolean' ? show : !this.show;
      }
    }
  };
</script>
