.c-login-modal {

  .modal-header {
    padding-bottom: 0;
    padding-left: 0;
    border-bottom: none;

    .nav {
      padding-left: 1rem;
    }

    .close {
      margin-left: -49px;
    }
  }

}
