<template>
  <div id="app">
    <navbar/>
    <top-alert/>

    <transition name="fade" mode="out-in">
      <router-view/>
    </transition>
  </div>
</template>

<script>
  import Navbar from './components/navbar.component';
  import TopAlert from './components/top-alert.component';

  export default {
    name: 'App',
    components: {
      Navbar,
      TopAlert
    }
  };
</script>

<style lang="scss">
  #app {
    .fade-enter-active,
    .fade-leave-active {
      transition-duration: 0.3s;
      transition-property: opacity;
      transition-timing-function: ease;
    }

    .fade-enter,
    .fade-leave-active {
      opacity: 0
    }
  }
</style>
