html {
  margin-left: calc(100vw - 100%); //Fix for scrollbar shifting everything to the left when appearing

  .navbar {
    padding-left: calc((100vw - 100%) + 1rem); //Fix for scrollbar shifting navbar to the left when appearing
  }
}

body {
  margin-top: 56px; //spacing for navbar
}

select {
  cursor: pointer;
}

ul {
  margin-bottom: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

//Bootstrap
.dropdown-item {
  cursor: pointer;
}

.modal {
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0,0,0,0.5);
  transition: opacity 0.4s;

  &.show {
    display: block;
    opacity: 1;
    pointer-events: all;
  }
}

.close:focus {
  outline: none;
}

.invalid-feedback {
  display: block;
}

//Alertify
.alertify-logs {
  z-index: 2000 //Fix notifications appearing below modals
}

//Custom
.close-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  opacity: 0.4;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}
